<div class="container">
  <h1 class="my-4">Course title : {{course.title}}</h1>

  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="{{course.imageUrl}}" alt="Express" />
    </div>

    <div class="col-md-4 text-center">
      <h3 class="my-3">Course Description</h3>
      <p>{{course.description}}</p>
      {{#if isCreator}}
      <a class="btn btn-danger" href="/courses/course-delete/{{course._id}}">Delete</a>
      <a class="btn btn-warning" href="/courses/course-edit/{{course._id}}">Edit</a>
      {{/if}}
      {{#if userHasEnrolled}}
      <span class="enrolled-span">You are already enrolled</span>
      {{else}}
      {{#if isCreator}}
      {{else}}
      <a class="btn btn-primary" href="/courses/enroll/{{course._id}}">Enroll</a>
      {{/if}}
      {{/if}}
    </div>
  </div>
</div>