{{>header}}

<div class="container" style="margin-bottom: 2%; margin-top:5%;">
    <div class="row">
        <div class="modal-content col-lg-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Make a donation</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img style="border-radius: 5px;"
                        src="https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_960_720.jpg" name="aboutme"
                        width="500" height="auto" border="0" class="img-circle">
                    <h3 class="media-heading">{{cause.cause}}</h3>
                    <span>Collected</span>
                    <strong class="label text-success">${{cause.collectedFunds}}</strong>
                    <span> from </span>
                    <strong class="label text-info">${{cause.neededFunds}}</strong>
                </center>
                <hr>
                <center>
                    <p style="word-wrap: break-word;" class="text-left"><strong>Description: </strong><br>
                        {{cause.description}}
                    </p>
                    <br>
                    <p style="word-wrap: break-word;" class="text-left"><strong>Donors:</strong><br>
                        {{#each donors}}
                            {{>donor}}
                        {{/each}}
                    </p>
                </center>
            </div>
            <div class="modal-footer">
                <a href="#/delete/{{cause._id}}" class="btn btn-danger">Close the cause</a>
            </div>
        </div>
    </div>
</div>


{{>footer}}